@import "~normalize.css/normalize.css";
@import "~tachyons-sass/tachyons";
@import "variables";
@import "burger-menu";

body {
  font-family: $fontStack;
}

svg.icon {
  fill: rgba(0, 0, 0, 0.7);
  height: 100%;
}