AddDefaultCharset UTF-8

# Security headers
Header always set Content-Security-Policy "upgrade-insecure-requests;"
Header set Content-Security-Policy "default-src 'self'"
Header set Strict-Transport-Security "max-age=31536000;includeSubDomains;"
Header always set X-Frame-Options SAMEORIGIN
Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options nosniff
Header set Referrer-Policy no-referrer
Header set Permissions-Policy "microphone=(),camera=(),geolocation=()"

# Content-type header
<FilesMatch "\.(js)$">
  <ifModule mod_headers.c>
    Header set Content-Type "text/javascript"
  </ifModule>
</FilesMatch>

<FilesMatch "\.(css)$">
  <ifModule mod_headers.c>
    Header set Content-Type "text/css"
  </ifModule>
</FilesMatch>

<FilesMatch "\.(xml)$">
  <ifModule mod_headers.c>
    Header set Content-Type "text/xml"
  </ifModule>
</FilesMatch>

# Cache control header
Header set Cache-Control "max-age=86400, public"

RewriteEngine On

# Remove www.
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ https://sannremy.com/$1 [R=301,L]

# Force https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Custom 404 page
ErrorDocument 404 https://sannremy.com
