RewriteEngine On

# Remove www.
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ https://sannremy.com/$1 [R=301,L]

# Force https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
